body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.photo-card {
    width: 220px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}


.shape-circle {
    border-radius: 50%;
}


.shape-ellipse {
    border-radius: 50% 20%;
}


.shape-rhombus {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


.shape-leaf {
    border-radius: 80px 0 80px 0;
}